{% extends "base.html" %}

{% block title %}
    Company
{% endblock title %}
{% block content %}
    <main>
        <div class="project-detail">
            <h1>{{ company.name }}</h1>
            <p>{{ company.description }}</p>
            <h2>Projects</h2>
            {% if company.projects.all|length == 0 %}<p>This company has no current projects.</p>{% endif %}
            {% if company.projects.all|length %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in company.projects.all %}
                            <tr>
                                <td>{{ project.name }}</td>
                                <td>{{ project.owner }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
