{% extends "base.html" %}

{% block title %}
    Company List
{% endblock title %}
{% block content %}
    <main>
        <div class="project-list">
            <h1>Company List</h1>
            <button onClick="location.href='../{{ "companies" }}/create'">
                Create Company <b>+</b>
            </button>
            {% if companies|length == 0 %}<p>No companies currently listed</p>{% endif %}
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Number of projects</th>
                    </tr>
                </thead>
                <tbody>
                    {% for company in companies.all %}
                        <tr>
                            <td>
                                <a href={% url "company" company.id %}>{{ company.name }}</a>
                            </td>
                            <td>{{ company.projects.all|length }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>
{% endblock content %}
