{% extends "base.html" %}

{% block title %}
    Project
{% endblock title %}
{% block content %}
    <main>
        <div class="project-detail">
            <h1>{{ project.name }}</h1>
            <p>{{ project.description }}</p>
            <h2>Company</h2>
            {% if project.company.all|length == 0 %}<p>This project is not currently assigned to a company.</p>{% endif %}
            {% if project.company.all %}<p>{{ project.company.name }}</p>{% endif %}
            <h2>Tasks</h2>
            <a href={% url "create_task" %}>
                <button>
                    Create task <b>+</b>
                </button>
            </a>
            {% if project.tasks.all|length == 0 %}<p>This project has no tasks</p>{% endif %}
            {% if project.tasks.all|length %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for tasks in project.tasks.all %}
                            <tr>
                                <td>{{ tasks.name }}</td>
                                <td>{{ tasks.assignee }}</td>
                                <td>{{ tasks.start_date|date }}</td>
                                <td>{{ tasks.due_date|date }}</td>
                                <td>{{ tasks.is_complete|yesno }}</td>
                            </tr>
                        </tbody>
                    {% endfor %}
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
