{% extends "base.html" %}

{% block title %}
    Projects
{% endblock title %}
{% block content %}
    <main>
        <div class="project-list">
            <h1>My Projects</h1>
            <a href={% url "create_project" %}>
                <button>
                    Create project <b>+</b>
                </button>
            </a>
            {% if projects|length == 0 %}<p>You are not assigned to any projects</p>{% endif %}
            {% if projects|length %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                            <th>Company</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for project in projects.all %}
                            <tr>
                                <td>
                                    <a href={% url "show_project" project.id %}>{{ project.name }}</a>
                                </td>
                                <td>{{ project.tasks.all|length }}</td>
                                {% if project.company.all|length == 0 %}<td>unassigned</td>{% endif %}
                                <td>{{ project.company.name }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% endif %}
        </div>
    </main>
{% endblock content %}
